.backgroundImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('/walnut_stickered.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 130vh;
}

.heroText {
  color: white;
  font-size: 1.3rem;
  height: 100%;
  max-width: 40rem;
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 3px 3px 3px black;
}

.heroText h1 {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 4rem;
  line-height: 1;
}

.heroText h1 span {
  color: #9ac8a8;
  font-family: 'Kaushan Script', cursive;
  font-style: italic;
  font-size: 4rem;
  line-height: 1;
  display: block;
}

.heroText p {
  /* font-family: 'Sriracha', cursive; */
  font-family: 'Rubik', sans-serif;
  /* font-family: 'Kaushan Script', cursive; */
  width: 85%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  display: block;
  text-align: center;
  margin-top: 3rem;
}

.buttons {
  margin-top: 3rem;
  display: flex;
  width: 28rem;
  justify-content: space-around;
}

.btnPrimary {
  background-color: #9ac8a8;
}

.anchor {
  color: inherit;
}

.anchor:hover {
  color: inherit;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .heroText {
    padding-top: 7.5rem;
    height: auto;
  }

  .buttons {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .buttons button {
    margin-bottom: 2rem;
  }
}
