.carouselImage {
  background-color: rgba(0, 0, 0, 0.2);
  width: 35rem;
  margin: 8rem auto 0 auto;
}

.carouselImage img {
  max-height: 700px;
  width: auto !important;
  height: auto;
  margin: auto;
}
